.welcome {
  background-image: url('../../assets/images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  margin-top: 2rem;
}

.welcome__hower {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}

.welcome__board {
  display: flex;
  flex-direction: column;

  padding: 10rem 0;
}

.welcome__title {
  font-weight: 400;
  font-size: 48px;
  color: #fff;
}

.welcome__text {
  padding: 1rem 0;
  font-size: 24px;
  color: #f1ffff;
}

.search__form {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.submit-btn {
  background-color: var(--big-title-color);
  color: white;
}

.welcome__label {
  display: flex;
  flex-direction: column;
  margin: 0 4px;
  height: 100%;
  justify-content: center;
}

.welcome__label span {
  margin-bottom: 4px;
}

.submit-btn {
  height: 70%;
}
