@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --main-text-color: #4b5669;
  --main-bg-color: #f0f0f3;
  --big-title-color: #387c89;
  --small-title-color: ##4b5669;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 400;
}

body {
  background-color: var(--main-bg-color);
  font-size: 14px;
  color: var(--main-text-color);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.title-padding {
  padding: 26px 0;
}

.horizontal-line {
  background-color: #efefef;
  padding: 20px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

h1,
h2 {
  color: var(--big-title-color);
}

h3 {
  font-size: 16px;
}
h4 {
  font-size: 13px;
}

h3,
h4 {
  color: var(--small-title-color);
}

.text {
  font-size: 14px;
  color: var(--main-text-color);
  font-weight: 400;
}

span {
  font-size: 14px;
  font-weight: 400;
}

.vp-1 {
  padding: 1rem 0;
}

.vp-2 {
  padding: 2rem 0;
}

.vp-3 {
  padding: 3rem 0;
}

.vp-4 {
  padding: 4rem 0;
}
