.ToursSearch {
  display: flex;
  padding: 2rem 0;
}

.tour-search__result {
  padding: 0 10px;
}

.chose__header {
  display: flex;
  justify-content: space-between;
}

.price-form {
  display: flex;
  align-items: center;
}

.price-input {
  max-width: 46px;
}

.clear-btn {
  background: none;
  color: #387c89;
  font-weight: 500;
}

.clear-btn:hover {
  color: #4d9baa;
}

@media (max-width: 768px) {
  .ToursSearch {
    display: flex;
    flex-direction: column;
  }
}
