.header {
  margin-top: 0.5rem;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__icon {
  width: 50px;
  margin-right: 14px;
  fill: var(--big-title-color);
}

.header__text {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 2px;
  color: var(--big-title-color);
}

.header__link {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--big-title-color);
  padding: 10px 16px;
  position: relative;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
}

.header__link:hover,
.header__link--active {
  border-bottom: 2px solid rgba(56, 124, 137, 0.8);
}

.header__link--active {
  border-bottom: 2px solid rgba(56, 124, 137, 0.6);
}

.header__icon--black {
  fill: #000;
}

.header__text--black,
.header__link--black {
  color: black;
}

.header__link--black:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}
