.Tabs {
  display: flex;
}

.Tabs__nav {
  display: flex;
  flex-flow: column wrap;
  flex: 0 0 20%;
  padding: 0 1rem;
}

.Tabs__link--reset {
  border: none;
  outline: none;
  cursor: pointer;
}
.Tabs__link {
  box-sizing: border-box;
  border-radius: 0.25rem;
  /* display: block; */
  padding: 0.5rem 1rem;
  color: #ff8508;
  background-color: transparent;
  border: 1px solid #ff8508;
  margin: 4px 0;
  text-align: left;
  font-size: 14px;
  transition: 0.3s ease;
}
.Tabs__link:hover:not(.Tabs__link--active) {
  background-color: #e15e02;
  color: #fff;
  border: 1px solid transparent;
}

.Tabs__link--active {
  color: #fff;
  background-color: #ff8508;
}

@media (max-width: 768px) {
  .Tabs {
    display: flex;
    flex-direction: column;
  }
  .Tabs__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
  }
  .Tabs__link {
    flex-basis: 48%;
    text-align: center;
    /* margin-right: 10px; */
    box-sizing: border-box;
  }

  .main__info,
  .free__info,
  .paid__info {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main__info li,
  .free__info li,
  .paid__info li {
    box-sizing: border-box;
    flex-basis: 48%;
    padding: 1rem 1rem;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
