.Tabs {
  display: flex;
}

.nav {
  display: flex;
  flex-flow: column wrap;
  flex: 0 0 20%;
  padding: 0 1rem;
}

.nav__link--reset {
  border: none;
  outline: none;
  cursor: pointer;
}
.nav__link {
  border-radius: 0.25rem;
  display: block;
  padding: 0.5rem 1rem;
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
  margin: 4px 0;
  text-align: left;
}

.nav__link--active {
  color: #fff;
  background-color: #007bff;
}
