.carousel .thumbs-wrapper {
  margin: 0 !important;
  margin-top: 2px !important;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.react-slideshow-container .default-nav:last-of-type,
.react-slideshow-container .default-nav:first-of-type {
  padding: 1px 6px;
  opacity: 0.8;
}
