.OfferCard {
  display: flex;
  flex: 1 0 32%;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}

.OfferCard img {
  width: 100%;
}

.OfferCard__content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
  left: 30px;
  transition: 0.2s ease;
  color: white;
  font-size: 24px;
}

.OfferCard:hover .OfferCard__content {
  transform: translateY(-20%);
}
